#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

body {
  width: 100vw;
  display: block;
  font-family: "Abel";
  color: #201f1f;
  /* color: #b6b6b6; */
}

/* Fonts - CSS */
.text-title-42 {
  font-family: "Bungee";
  font-size: 42px;
}
.text-title-40 {
  font-family: "Bungee";
  font-size: 40px;
}
.text-title-38 {
  font-family: "Bungee";
  font-size: 38px;
}
.text-title-36 {
  font-family: "Bungee";
  font-size: 36px;
}
.text-title-34 {
  font-family: "Bungee";
  font-size: 34px;
}
.text-title-32 {
  font-family: "Bungee";
  font-size: 32px;
}
.text-title-30 {
  font-family: "Bungee";
  font-size: 30px;
}
.text-title-28 {
  font-family: "Bungee";
  font-size: 28px;
}
.text-title-26 {
  font-family: "Bungee";
  font-size: 26px;
}
.text-title-24 {
  font-family: "Bungee";
  font-size: 24px;
}
.text-title-22 {
  font-family: "Bungee";
  font-size: 22px;
}
.text-title-20 {
  font-family: "Bungee";
  font-size: 20px;
}
.text-title-18 {
  font-family: "Bungee";
  font-size: 18px;
}
.text-title-16 {
  font-family: "Bungee";
  font-size: 16px;
}
.text-title-14 {
  font-family: "Bungee";
  font-size: 14px;
}
.text-title-12 {
  font-family: "Bungee";
  font-size: 12px;
}
.text-title-10 {
  font-family: "Bungee";
  font-size: 10px;
}
.text-title-8 {
  font-family: "Bungee";
  font-size: 8px;
}
.text-body-32 {
  font-family: "Abel";
  font-size: 32px;
}
.text-body-30 {
  font-family: "Abel";
  font-size: 30px;
}
.text-body-28 {
  font-family: "Abel";
  font-size: 28px;
}
.text-body-26 {
  font-family: "Abel";
  font-size: 26px;
}
.text-body-24 {
  font-family: "Abel";
  font-size: 24px;
}
.text-body-22 {
  font-family: "Abel";
  font-size: 22px;
}
.text-body-20 {
  font-family: "Abel";
  font-size: 20px;
}
.text-body-18 {
  font-family: "Abel";
  font-size: 18px;
}
.text-body-16 {
  font-family: "Abel";
  font-size: 16px;
}
.text-body-14 {
  font-family: "Abel";
  font-size: 14px;
}
.text-body-12 {
  font-family: "Abel";
  font-size: 12px;
}
.text-body-10 {
  font-family: "Abel";
  font-size: 10px;
}
.text-body-8 {
  font-family: "Abel";
  font-size: 8px;
}

/* Text Effects */
.text-underline {
	text-decoration: underline;
}
.text-bold {
  font-weight: 800;
  font-style: bold;
}
.text-italic {
	font-style: italic;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}

/* Spacing */
.spacing-5 {
	margin-bottom: 5px;
}
.spacing-10 {
	margin-bottom: 10px;
}
.spacing-20 {
  margin-bottom: 20px;
}


/* Header */
.header-primary {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

  font-size: 30px;

	margin: 20px 30px 0px 20px;
}
.header-app-logo {
	text-decoration: none;
  /* color: #b6b6b6; */
  color: #201f1f;
}
.userbar-button {
  width: 30px;
  height: 30px;

  display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  text-align: center;
}
.userbar-img-placeholder {
  background-color: #201f1f;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  z-index: 150;
  position: fixed;
  right: 21px;
}
.userbar-icon-placeholder {
  z-index: 160;
  position: fixed;
  color: white;
}

.header-search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* Nav Sidebar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  z-index: 1000;
  background-image: linear-gradient(135deg, #4471eb, #449aeb, #44d5eb, #44ebab);
  /* background-size: cover;
  background-repeat: no-repeat; */
  /* background-position: 0%; */

  color: white;

  width: 80%;
  display: flex;
  flex-direction: column;
  

}
.navbar-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;

  font-family: "Bungee";
  font-size: 30px;

  margin: 20px 20px 20px 30px;
}
.navbar-header-placeholder {
  opacity: 0;
}
.navbar-links {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  text-align: left;
  /* width: 300px; */

  margin-top: -20px;
}
.navbar-links-owned, .navbar-links-all {
  width: 200px;
  /* background-color: #4471eb; */
  margin-top: 10%;
}
.navbar-links-all-links, .navbar-links-owned-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  margin-left: 15%;
}
.text-links-navbar-all, .text-links-navbar-owned {
  text-decoration: none;
  color: white;

  margin-top: 10px;
}

/* User Sidebar */
.userbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  z-index: 900;
  background: linear-gradient(135deg, #44d5eb, #44ebab, #44eb87, #44eb52);

  color: white;

  width: 80%;
  display: flex;
  flex-direction: column;
}
.userbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;

  font-size: 30px;

  margin: 20px 30px 0px 30px;
}
.userbar-button-settings {
  color: white;
}
.userbar-account-container {
  margin-top: 15vh;
}
.login-container {
  text-align: center;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 0px;
}
.login-form-title-body {
  margin-bottom: -25px;
}
.login-form-fields, .form-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-input-field, .form-input-field-add-user {
  margin-bottom: 10px;
  width: 200px;
  font-family: "Abel";
  font-size: 16px;
}
.login-button-container {
  margin-top: 5px;
}
.login-error {
  font-size: 16px;
}
.form-error-messages {
  margin: 5px 0px 15px 0px;
}
.add-account-handle-msg-valid, .add-account-handle-msg-invalid {
  font-size: 14px;
  color: black;
}
.login-button-submit, .form-add-user-submit-button {
  font-size: 18px;
}
.login-signup-link {
  margin-top: 25px;
  color: black;
}
.form-add-user {
  margin-top: 15px;
}
.form-title-add-user {
  /* font-size: 20px; */
  margin-bottom: 5px;
}
.form-add-user-cancel-button {
  font-size: 16px;
  color: black;
  text-decoration: underline;
  margin-top: 10px;
}
.sidebar-account-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-account-user-img-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;

  margin-top: -80px;
  margin-bottom: 10px;
}
.sidebar-account-user-img {
  
}
.sidebar-account-stats {
  display: flex;
  flex-direction: row;
  justify-content: top;
  align-items: center;
  color: black;
}
.sidebar-account-stats-2 {
  display: flex;
  flex-direction: row;
  justify-content: top;
  align-items: center;

  margin-top: -15px;
}
.sidebar-owned-stat-set {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  margin: 0px 10px 0px 10px;
}
.sidebar-owned-stat-number {
  margin-top: 10px;
  margin-bottom: -8px;
}
.sidebar-user-links {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  margin-top: 60px;
  font-size: 26px;
}
.sidebar-user-link {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}

/* Home Page */
.home-page {
  margin-top: 4rem;
}
.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-graphic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;
  border-radius: 50%;

  background: linear-gradient(135deg, #447eeb, #44d5eb, #44ebab, #44eb87);

  margin-bottom: 40px;
}
.placeholder-graphic {
  font-size: 50px;
  font-family: "Bungee";
  color: white;
}
.welcome-text-container {
  max-width: 200px;
  text-align: center;
}
.emphasis-1 {
  /* font-family: "Bungee"; */

  color: #4471eb;
}
.emphasis-2 {
  /* font-family: "Bungee"; */

  color: #449aeb
}

/* List Pages */
.world-list-page, .user-list-page, .character-list-page {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
}
.search-list-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}
.search-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 390px;
}
.search-list-header-icon-set {
  display: flex;
  flex-direction: row;
  /* width: 30px; */

}
.search-list-header-icon {
  margin-left: 15px;
  font-size: 20px;
}
.search-list-title {
  /* align-self: start; */
  width: 380px;
}
.search-list-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  overflow: hidden;

  margin-top: 5px;
  margin-bottom: 20px;
  /* background-color: #4471eb; */
  box-shadow: 4px 4px 10px 4px rgb(0 0 0 /8%);

  width: 350px;
  min-height: 150px;

  padding: 15px;
}
.list-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 160px;
}
.list-card-image {
  max-height: 250px;
  min-height: 150px;
  min-width: 160px;
}
.list-card-info {
  /* background-color: #449aeb; */
  width: 175px;
  min-height: 150px;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  overflow: hide;
}
.world-tag-bubble-container, .user-tag-bubble-container, .char-des-bubble-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hide;
  max-height: 50px;

  margin-top: -5px;
  margin-bottom: 10px;
}
.world-tag-bubble, .user-tag-bubble, .char-des-bubble {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  padding: 0px 10px;
  margin-right: 5px;
  margin-top: 5px;

  background-color: #44d5eb;
  color: white;
}
.list-card-primary-info {
  margin-left: 20px;
  margin-bottom: 8px;
}
.world-list-primary-set, .user-list-primary-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.list-primary-set-icon {
  margin-right: 8px;
}
.list-card-secondary-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.world-list-secondary-set {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-list-secondary-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 175px;
}
.list-secondary-set-icon {
  margin-right: 5px;
}

.list-card-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  overflow: hidden;

  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #449aeb;
  color: white;
  box-shadow: 4px 4px 10px 4px rgb(0 0 0 /8%);

  width: 350px;

  padding: 15px;
}
.card-add-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-add-icon {
  font-size: 26px;
}
.form-add-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-add-fields-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-select {
  margin-bottom: 10px;
  width: 200px;
  font-family: "Abel";
  font-size: 16px;
  border: none;
}
.form-select-option {
  font-size: 16px;
}
.radio-button-container {
  margin-bottom: 5px;
}
.add-form-input {
  margin-bottom: 10px;
  width: 200px;
  font-family: "Abel";
  font-size: 16px;
  border: none;
}
.add-new-submit-button {
  margin-top: 5px;
  margin-bottom: 5px;
}
.login-input-field, .form-input-field-add-user {
  margin-bottom: 10px;
  width: 200px;
  font-family: "Abel";
  font-size: 16px;
}


/* Detail Pages */
.world-detail-page, .user-detail-page, .character-detail-page {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
}
.detail-list-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}
.detail-card-primary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  margin-top: 5px;
  margin-bottom: 20px;
  /* background-color: #4471eb; */
  box-shadow: 4px 4px 10px 4px rgb(0 0 0 /8%);

  width: 350px;
  min-height: 300px;

  padding: 15px;
}
.detail-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 345px;
}
.detail-card-image {
  max-height: 400px;
  min-height: 150px;
  min-width: 345px;
}
.detail-card-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hide;

  /* background-color: #449aeb; */
  margin-top: 15px;
  /* min-width: 175px; */
  min-height: 40px;
  padding-bottom: 10px;
}
.detail-char-des-bubble-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hide;
  max-height: 50px;

  margin-bottom: 10px;
}
.detail-char-des-bubble {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  padding: 2px 10px;
  margin-right: 10px;
  margin-top: 5px;

  background-color: #44d5eb;
  color: white;
}
.detail-card-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /* position: relative; */
  
  /* background-color: #4471eb; */
  box-shadow: 4px 4px 10px 4px rgb(0 0 0 /8%);

  width: 350px;
  /* min-height: 100px; */
  padding: 10px;

  margin-bottom: 20px;
}
.detail-card-secondary-info-container {
  display: flex;
  flex-direction: column;
  /* justify-content: start;
  align-items: left; */
  overflow: hidden;
  width: 330px;
}
.detail-card-toggle-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  max-height: 50px;

  /* background-color: #449aeb; */
}
.detail-card-toggle-icon-set {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  font-size: 20px;
  /* background-color: #4471eb; */
}
.detail-card-secondary-info {
  margin: -5px 0px 10px 30px;
}
.detail-card-secondary-info-set-row {
  display: flex;
  flex-direction: row;

  margin-top: 5px;
}
.detail-card-secondary-info-set-column {
  display: flex;
  flex-direction: column;

  margin-top: 5px;
}

.gallery-container {
  
}
.swiper-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 345px;
}
.gallery-image {
  max-height: 400px;
  min-height: 150px;
  min-width: 345px;
}



  

.text-following-10 {
  margin-left: 10px;
}
.offset-left-20 {
  margin-left: 20px;
}
.offset-left-10 {
  margin-left: 10px;
}
.offset-top-5 {
  margin-top: 5px;
}


@media (min-width: 600px) {
  /* body {
    background: green;
  } */
  .userbar {
    background: linear-gradient(135deg, #44d5eb, #44ebab, #44eb87, #44eb52);
  
    color: white;
  
    width: 30%;
    min-width: 250px;
    max-width: 80%;
  }
  .navbar {
    background-image: linear-gradient(135deg, #4471eb, #449aeb, #44d5eb, #44ebab);
  
    color: white;
  
    width: 30%;
    min-width: 250px;
    max-width: 80%;  
  }
}